UseColor: true
# NOTE Make sure all checks have trailing commas!
Checks: >
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    google-*,
    hicpp-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -google-readability-todo,
    -google-runtime-references,
    -hicpp-avoid-c-arrays,
    -hicpp-exception-baseclass,
    -hicpp-signed-bitwise,
    -modernize-avoid-c-arrays,
    -modernize-use-nullptr,
    -performance-no-int-to-ptr,
    -readability-avoid-const-params-in-decls,
    -readability-convert-member-functions-to-static,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -used-but-marked-unused,
HeaderFilterRegex: "(^[\\/]*|.*[\\/]+)(argparse\.hpp|args\.hxx|yaml\.cpp|yaml\.hpp)([\\/]*$|[\\/]+.*)"
