[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
guidelines = 80
end_of_line = lf
tab_width = 4

[*.md]
trim_trailing_whitespace = false

[*.{css,html,html.in,yml,yaml,rb}]
indent_style = space
indent_size = 2
guidelines = 80

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2
guidelines = 80
